/.DS_Store/
/dataSources/
/httpRequests/
/sonarlint/
/shelf/

/biome.xml
/dataSources.local.xml
/dataSources.xml
/db-forest-config.xml
/git_toolbox_blame.xml
/git_toolbox_prj.xml
/modules.xml
/php.xml
/workspace.xml
